<template>
    <div class="container grid-md">
        <div class="columns">
            <TokenForm class="column col-12" @save="create"></TokenForm>
            <div class="column col-12" v-if="error">
                <div class="toast toast-error">
                    <button class="btn btn-clear float-right" @click="error = null"></button>
                    {{ error }}
                </div>
            </div>
            <TokenCard
                v-for="token in tokens"
                class="column col-12"
                :token="token"
                :key="token.token"
                @destroy="destroy"
            ></TokenCard>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import axios from 'axios';
import Token from './token';
import TokenForm from './TokenForm.vue';
import TokenCard from './TokenCard.vue';

@Component({
    components: {
        TokenForm,
        TokenCard,
    }
})
export default class extends Vue {
    error: string | null = null;
    tokens: Token[] = [];

    async mounted() {
        try {
            let res = await axios.get('/tokens');
            let tokens = res.data as Token[];
            this.tokens = tokens;
        } catch (err) {
            console.error(err);
            this.error = "Failed to create token";
        }
    }

    private async create(name: string) {
        try {
            let res = await axios.post('/tokens/' + name);
            let token = res.data as Token;
            this.tokens.unshift(token);
        } catch (err) {
            console.error(err);
            this.error = "Failed to create token";
        }
    }

    private async destroy(token: Token) {
        let idx = this.tokens.indexOf(token);

        if (idx >= 0) {
            try {
                let res = await axios.delete('/tokens/' + token.token);
                this.tokens.splice(idx, 1);
            } catch (err) {
                console.error(err);
                this.error = "Failed to delete token";
            }
        }
    }
}
</script>
