<template>
    <div>
        <div class="card">
            <div class="card-header">
                <div class="btn-group float-right" v-if="destroying">
                    <button class="btn btn-error" @click="destroy">Destroy</button>
                    <button class="btn" @click="destroying = false">Cancel</button>
                </div>
                <button class="btn btn-error float-right" @click="destroying = true" v-else>
                    <i class="icon icon-delete"></i>
                </button>
                <h6 class="card-title">{{ token.name }}</h6>
                <div class="card-subtitle text-gray">{{ token.token }}</div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import Token from './token';

@Component({})
export default class extends Vue {
    @Prop()
    token!: Token;

    destroying: boolean = false;

    private destroy() {
        this.$emit('destroy', this.token);
    }
}
</script>

