<template>
    <div>
        <form @submit.prevent="createToken">
            <div class="input-group">
                <input type="text" class="form-input input-lg" placeholder="Name" v-model="name">
                <button class="btn btn-primary btn-lg input-group-btn" :disabled="disabled">Save</button>
            </div>
        </form>
    </div>
</template>

<script lang="ts">
import { Component, Vue, Watch } from 'vue-property-decorator';

@Component({})
export default class extends Vue {
    disabled: boolean = true;
    name: string = "";

    private createToken() {
        if (this.disabled) return;
        let n = this.name;
        this.$emit('save', n);
        this.name = '';
    }

    @Watch('name')
    private syncButtonState() {
        if (this.disabled && this.name.length > 0) {
            this.disabled = false;
        } else if (!this.disabled && this.name.length <= 0) {
            this.disabled = true;
        }
    }
}
</script>
